
    <div class="container">
      <div id="Personal" class="flex-center flex-column">
          <div class="content-wrapper">
              <div class="two-column-wrapper">
                <div class="profile-content-wrapper">
                  <h3>Educational Background.</h3>
                  
                </div>
              </div>
          </div> 
      </div>
      <div class="grid-container">
        <div class="grid-item"><h1>Secondary Education</h1> </div>
        <div class="grid-item"><h1>Tertiary Education</h1> </div>
        <div class="grid-item"><p>Last School Attended:</p>
          <ul class="a">
            <li><h3>Mampoi High School</h3> </li>
          </ul></div>
        <div class="grid-item"> <p>Current School:</p>
          <ul class="a">
            <li><h3>North-West University Vaal Triangle Campus</h3> </li>
          </ul></div>
        <div class="grid-item"><p>Highest Grade Passed:</p>
          <ul class="a">
            <li><h3>Grade 12</h3> </li>
          </ul></div>
        <div class="grid-item"> <p>Current Qualification:</p>
          <ul class="a">
            <li><h3>BSc Information Technology</h3> </li>
          </ul></div>
        <div class="grid-item"><p>Year Obtained:</p>
          <ul class="a">
            <li><h3>2014</h3> </li>
          </ul></div>
        <div class="grid-item"><p>Year:</p>
          <ul class="a">
            <li><h3>Final Year (2020)</h3> </li>
          </ul></div>
        <div class="grid-item"><p>Subjects Passed:</p>
          <ul class="a">
            <li><h3>Physical Science</h3> </li>
            <li><h3>Life Sciences</h3> </li>
            <li><h3>Mathematics</h3> </li>
            <li><h3>Geography</h3> </li>
            <li><h3>English</h3> </li>
            <li><h3>Sesotho</h3> </li>
            <li><h3>Life Orientation</h3> </li>
          </ul></div>
        <div class="grid-item"> 
           <div class="profile-image-wrapper">
          <img src="../../assets/img/grad.gif" >
          </div>
        </div> 
      </div>
      <div class="btnContainer">
        <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
        <a class="btn" routerLink="../personal"><i class="em em-point_left" aria-role="presentation" aria-label="WHITE LEFT POINTING BACKHAND INDEX"></i>   Back  </a>
        <a class="btn" routerLink="../skills"><i class="em em-point_right" aria-role="presentation" aria-label="WHITE RIGHT POINTING BACKHAND INDEX"></i> Next</a>
       </div>