<div class="container">
    <h1>References</h1>
    <div class="bird-container bird-container--one">
      <div class="bird bird--one"></div>
    </div>
    <div class="bird-container bird-container--two">
      <div class="bird bird--two"></div>
    </div>
    <div class="bird-container bird-container--three">
      <div class="bird bird--three"></div>
    </div>
    <div class="bird-container bird-container--four">
      <div class="bird bird--four"></div>
    </div>
  </div>

  <h4>Name and Surname:MR MJ Twala</h4>
  
  <h4>Contact: 058 789 1211</h4>

  <h4>Name and Surname: Mrs JT Janse Van Rensburg</h4>
  
  <h4>Contact: 016 910 3259</h4>

  <div>
    <ul class= "list-unstyled list-inline social">
      <li><a href="https://www.facebook.com/rethabilereelay.ramagole/" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/ausiretha_thabiie/saved/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://www.linkedin.com/in/rethabile-ramagole-80aa91158/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>

      
      <h5></h5>
<div class="btnContainer">
  <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
  <a class="btn" routerLink="../skills/"><i class="em em-point_left" aria-role="presentation" aria-label="WHITE LEFT POINTING BACKHAND INDEX"></i> Back</a>
  <a class="btn" routerLink="../overview"><i class="em em-house" aria-role="presentation" aria-label="WHITE RIGHT POINTING BACKHAND INDEX"></i> Home</a>
</div>
<h4 >{{joke.value}} </h4>