
    <div class="container">
        <div id="home" class="flex-center flex-column">
            <div class="content-wrapper">
                <div class="two-column-wrapper">
                  <div class="profile-image-wrapper">
                      <img src="./assets/img/Rethabile ramagole.jpg" >
                  </div>
                  <div class="profile-content-wrapper">
                    <p>Hi there! My name is Rethabile Matsie Ramagole and Welcome to my website.<p>
                    <p>I am a final year BSc student in the field of Information Technology at North West University.I am very passionate about technology and eager to be part of a dynamic,growing company.I am self organised and i'm also a good communicator.<p>
                  </div>
                </div>
            </div>
            <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
           <a class="btn" routerLink="../personal"><i class="em em-point_right" aria-role="presentation" aria-label="WHITE RIGHT POINTING BACKHAND INDEX"></i> Next</a>
           <a class="btn" (click)="goToLink('https://github.com/Rethabile506')"> <i class="em em-wolf" aria-role="presentation" aria-label="WOLF FACE"></i> Github</a>
        </div>
    </div>