<div class="container">
    <div id="Personal" class="flex-center flex-column">
        <div class="content-wrapper">
            <div class="two-column-wrapper">
              <div class="profile-content-wrapper">
                <h1>Personal Information.</h1>
                <p>I am much eager to adopt and learn new technologies and I feel I am responsible for making  a big move in this field.My objectives are two parted,Short and Long term objectives.My short term goal is to complete my BSc degree in Information Technology and my Long term goal is to become a specialist in my choice of career field. <p>
              </div>
            </div>
        </div> 
    </div>
<div class="grid-container">
    <div class="grid-item">Surname:</div>
    <div class="grid-item"> Ramagole</div>
    <div class="grid-item">Full Names:</div>
    <div class="grid-item">Rethabile Matsie</div>
    <div class="grid-item">Date of Birth:</div>
    <div class="grid-item">10 September 1996</div>
    <div class="grid-item">Identity Number:</div>
    <div class="grid-item">9609100370088</div>
    <div class="grid-item">Place of Birth:</div>
    <div class="grid-item">Qwaqwa</div>
    <div class="grid-item">Nationality:</div>
    <div class="grid-item">South African</div>
    <div class="grid-item">Home Language:</div>
    <div class="grid-item">Sesotho</div>
    <div class="grid-item">Gender:</div>
    <div class="grid-item">Female</div>
    <div class="grid-item">Marital Status:</div>
    <div class="grid-item">Single</div>
    <div class="grid-item">Health:</div>
    <div class="grid-item">Excellent</div>
    <div class="grid-item">Residential Adress:</div>
    <div class="grid-item">06 Theal Street Vanderbijlpark,1911</div>
    <div class="grid-item">Contact Number:</div>
    <div class="grid-item">0739319824</div>
    <div class="grid-item">Criminal Record:</div>
    <div class="grid-item">None</div>
     <div class="grid-item">Dependent:</div>
    <div class="grid-item">0</div>
    <div class="grid-item">Driver's License:</div>
    <div class="grid-item">C1</div>
  </div>
  <div class="btnContainer">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <a class="btn" routerLink="../overview"><i class="em em-point_left" aria-role="presentation" aria-label="WHITE LEFT POINTING BACKHAND INDEX"></i> Back</a>
    <a class="btn" routerLink="../education"><i class="em em-point_right" aria-role="presentation" aria-label="WHITE RIGHT POINTING BACKHAND INDEX"></i> Next</a>
   
  </div>